/* Reset and global styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa; /* Light background color */
  color: #333; /* Main text color */
}

.container {
  width: 90%; /* Responsive width */
  max-width: 1200px; /* Max width for larger screens */
  margin: auto;
  padding: 20px;
  padding-top: 90px;
  flex: 1;
}

header {
  background: #333;
  color: #fff;
  padding: 8px 0;
  width: 100%; /* Full width */
  position: fixed; /* Fixed positioning */
  top: 0; /* Place at the top of the viewport */
  z-index: 1000;
  /* display: flex; */
  
  justify-content: space-between; /* Align items with space between */
}

header nav ul li a.active {
  border-bottom: 2px solid #ffffff; /* Adds an underline to the active link */
}

header nav ul {
  list-style: none;
  padding: 0;
  text-align: center; /* Center align navigation links */
}

header nav ul li {
  display: inline-block;
  margin-right: 15px;
}

/* Custom CSS */
.navbar {
  padding-top: 8px; /* Adjust top padding as needed */
  padding-bottom: 8px; /* Adjust bottom padding as needed */
}

.navbar-brand {
  font-size: 16px; /* Adjust font size for home link */
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5); /* Optional: Customize border color */
}

.navbar-toggler-icon {
  background-color: #fff; /* Optional: Customize toggler icon color */
}



header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

header nav ul li a:hover {
  background-color: #555; /* Darken background on hover */
}

header nav ul li.contact-link {
  margin-left: auto; /* Push to the right */
}

footer {
  background: #333;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  margin-top: auto; /* Push footer to the bottom of the page */
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  display: inline;
  margin-right: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-links {
  margin-top: 20px;
}

.section {
  margin-bottom: 40px;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  color: #333;
  scroll-margin-top: var(--header-height);
}

:root {
  --header-height: 70px; /* Adjust this to your header height */
}

/* Hero section styles */
.hero {
  background-image: url('/assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px 0;
  text-align: center;
  margin-top: 0;
}

.profile-photo {
  border-radius: 50%;
  max-width: 150px;
  border: 5px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.intro-text {
  color: #333333; /* Dark grayish-blue for text color */
  max-width: 600px;
  margin: auto;
  font-weight: bold; /* Optionally, bold font weight for emphasis */
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 180px;
}

.social-icon {
  font-size: 1.5rem;
  color: #333;
  display: inline-block;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

.social-icon i {
  margin-right: 8px;
}

.social-icon:hover {
  color: #007bff;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.social-icon img {
  width: 50px; /* Adjust image size as needed */
  height: 50px;
  border-radius: 50%; /* Optional: Makes images circular */
  transition: transform 0.3s ease;
}

.social-icon:hover img {
  transform: scale(1.1); /* Optional: Scale up on hover */
}

#highlights {
  padding-top: -10px; /* Add padding top to reduce space */
}

/* Highlights section */
.highlights-list {
  list-style: disc; /* Use disc bullets for unordered list */
  padding-left: 20px; /* Indent the list */
  margin-top: 20px; /* Add some space above the list */
}

.highlights-list li {
  margin-bottom: 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.highlights-list li:hover {
  transform: scale(1.05); /* Optional: Scale up on hover */
  color: #000000; /* Change text color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}


.post-preview img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

/* Additional styling for blog post previews */
.post-preview {
  margin-bottom: 40px;
}

.post-preview h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-preview p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .intro-text {
    padding: 0 20px; /* Add padding on smaller screens */
  }
  .container {
    padding-top: 120px; /* Adjust padding for mobile to ensure content is not hidden */
  }
  header nav ul {
    display: block;
  }
  header nav ul li {
    display: block;
    margin-bottom: 10px;
  }
  .post-preview h2 {
    font-size: 20px;
  }

  .post-preview p {
    font-size: 14px;
  }
}

html {
  scroll-behavior: smooth;
}

.fa:hover {
  opacity: 0.9;
}

.fa-github {
  background: #007bb5;
  color: white;
}

#contact {
  background-color: #f0f0f0;
  padding: 20px 0; /* Adjust padding as needed */
  margin-top: 0;
  margin-bottom: 0;
}

#contact h2 {
  text-align: center;
  margin-bottom: 20px;
}

#contact-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form label {
  display: block;
  margin-bottom: 8px;
}

#contact-form input[type="text"],
#contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

#contact-form textarea {
  resize: vertical;
}

#contact-form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact-form button:hover {
  background-color: #555;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-field {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; /* Example color, change as needed */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.nav-buttons {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.nav-buttons .button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px; /* Add margin to create space between buttons */
  font-size: 16px;
  color: #fff;
  background: linear-gradient(45deg, #ff6b6b, #f06595); /* Gradient background */
  text-decoration: none;
  border-radius: 30px; /* Rounded corners for a modern look */
  transition: background 0.3s ease, transform 0.2s ease;
}

.nav-buttons .button:hover {
  background: linear-gradient(45deg, #f06595, #ff6b6b); /* Reverse gradient on hover */
  transform: scale(1.1);
}

